<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>netroulette</title>
  <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" type="text/css" />
 <!--  <script type="text/javascript">








    // function roll() {
    //   document.getElementById("bn").remove();
    //   document.getElementById("link").innerText = "???";
    //   let extention = ["net", ".com", ".co", ".biz", ".site", ".cc"];
    //   let letter = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];

    //   var num = Math.floor(Math.random()  * 15;
    //   var una = letter[num];
    //   var site = una;
    //   alert(site);
    //   for (let i = 0; i < num; i++)
    //   { 
    //     una = letter[(Math.floor(Math.random())] * 26);
    //     site = site + una;
    //   }
    //   alert(site);
         


  </script>
 -->
<script>
var links = [
              "google.com",
              "youtube.com",
              "reddit.com",
              "apple.com"]

           var openSite = function() {
              // get a random number between 0 and the number of links
              var randIdx = Math.random() * links.length;
              // round it, so it can be used as array index
              randIdx = parseInt(randIdx, 10);
              // construct the link to be opened
              var link = 'http://' + links[randIdx];

     return link;
    };
</script>

</head>

<body>
  <h1>NetRoulette</h1>
  <p>pray you won't get hacked</p>

<!--   <a href="/">
<input type="submit" name="submit_button" value="" onclick="">
  </a>
 -->

  <!-- <a id="link" href="{{site}}"> -->

    <a href="javascript:openSite()">

  <button id="bn">try your luck</button>

</a>
<!-- </a> -->
  <p id="Leprechaun">** lucky you! you have found a Leprechaun! **</p>
  <img src="https://media.istockphoto.com/id/511013050/nl/vector/roulette-wheel-drawing.jpg?s=612x612&w=0&k=20&c=MGi2sbVdyelnehlo7h91vwYJXKeVFYMTtFQBIWOrkk4="></img>
  <div/>
    <a href="/signup">Create Account</a>
    <a href="/site_of_the_week">**Site Of The Week**</a>
    <div/>
    <a href="/about">About</a>


  
</body>

</html>