<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
      <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" type="text/css" />


</head>
<body id="signup">
    <div id="div_up">
    <form method="post" action="/signup">
        <!-- Heading -->
        <h4 id="title_up">
            Sign Up
        </h4>

        <!-- Subheading -->

        <!-- Email -->
        <div>
            <label id="label_up1">Email Address*</label>
            <div>
                <input type="email"  name="email" id="email" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label id="label_up2">Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6" required>
            </div>
        </div>


        <div>
            <input id="submit_up" type="submit"/>
        </div>
    </form>
    <br>
    <a href="/signin"><button id="button_up">signin</button></a>
    </div>
</body>
</html>
